.delbtn {
  z-index: 1;
  position: absolute;
  width: 28px;
  border: none;
  border-radius: 4px;
  margin-left: 53px;
  margin-top: 2px;

  color: #ef4444;
  background: transparent;
}

.delbtn:hover {
  background-color: #ef4444;
  color: white;
}

.drop-text {
  font-family: "Russo one", sans-serif;
  display: flex;
  margin-top: 38%;

  color: #cccccc;
}
